# Arquivos de Dados (Persistência do Pickle)
*.dat
*.pkl

# Ambiente Virtual
venv/
.venv/
env/

# Arquivos temporários do Python
__pycache__/
*.pyc

# Configurações do VS Code
.vscode/

# Bibliotecas instaladas (sempre use o requirements.txt em vez de subir a pasta)
lib/
bin/