# Ambientes Virtuais (Pasta pesada com o Python local)
venv/
ENV/
env/

# Cache do Python (Arquivos temporários de execução)
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de sistema (Opcional, mas bom ter)
.DS_Store
Thumbs.db